.clock{
    width: fit-content;
    padding: 0.25em 0.5em;
    font-size: 60px;
    background: #111111;
    color: #39ff14;
    font-family: sans-serif;
}

/* 
.clock-widget {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 8px;
    text-align: center;
  }
  
  .add-clock-button {
    margin: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-clock-button:hover {
    background-color: #0056b3;
  }
  
  .clock-container {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .main-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }*/
  