/* Global Styles */
* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  color: #F0ECE4;
  
}

.app {
  background: url('./assets/background-1.jpg') center/cover no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

/* NAVBAR STYLING */
.sidenav {
  position: fixed;
  top: 0;
  right: 0;
  width: 20vw;
  height: 100vh;
  background-color: rgba(240, 236, 228, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  z-index: 1;
  transition: width 0.3s ease;
}

.sidenav button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: opacity 0.3s;
}

.sidenav button img {
  transition: transform 0.3s;
}

.sidenav button:hover img {
  transform: scale(1.1);
  opacity: 0.8;
}

/* AUTHENTICATION PAGES */
.login,
.signup {
  position: fixed;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.lg-logo {
  position: fixed;
  top: 10px;
  height: 25vh;
}

.welcome-text,
.signup-header {
  font-size: 50px;
  font-weight: 700;
}

.welcome-text {
  margin-top: 90px;
}

.signup-header {
  margin-top: 120px;
}

/* Input & Button Styling */
.input-field {
  width: 300px;
  padding: 10px;
  margin: 10px 0;
  font-size: 24px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #f0ece4;
  text-align: left;
}

.input-field::placeholder {
  opacity: 0.8;
  color : #F0ECE4;
}

.input-field:focus {
  outline: none;
}

.login-button,
.signup-button {
  width: 300px;
  padding: 15px;
  background-color: #b11226;
  border: none;
  border-radius: 5px;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.login-button:hover,
.signup-button:hover {
  background-color: #910d1c;
}

.forget-password-text,
.sign-up-text,
.existing-account-text {
  font-size: 20px;
  font-weight: 300;
  margin-top: 10px;
}
.forget-password-text{
  margin-top: 90px;
}

.login-link,
.signup-link {
  color: #b11226;
  font-weight: 400;
  cursor: pointer;
  transition: text-decoration 0.3s;
}
.login-link:hover,
.signup-link:hover {
  text-decoration: underline;
}

/* Widget/Settings Styling */
.container {
  position: fixed;
  bottom: 0;
  left: 30vw;
  width: 50vw;
  height: 50vh;
  background-color: rgba(28, 28, 28, 0.5);
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #555 #333;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 30vw;
  height: 100vh;
  padding: 20px;
  background-color: rgba(28, 28, 28, 0.5);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #555 #333;
}

/* Sidebar Button */
.button {
  width: 100%;
  padding: 30px;
  font-size: 40px;
  color: white;
  margin: 5px 0;
  background-color: #333;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  
  transition: background-color 0.3s;
}

.buttonActive {
  background-color: #ff4d4d;
}

/* Content Area */
.contentArea {
  flex: 1;
  padding: 20px;
  background-color: #3b3b3b;
  color: white;
  font-size: 24px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

/* Widget Content */
.widgetContent {
  padding: 30px;
  background-color: #252525;
  color: white;
  
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
